In [1]:
import pandas as pd

**成绩表中有两个sheet，将其分别导出正确编码的两个csv之后，合并**

In [2]:
df_score1 = pd.read_csv('bks_cjxx_out.csv',encoding = 'utf-8')
df_score1.describe()

,xh,xqm,ksrq,pscj,ksxzm,ksxsm,fslkscj,djlkscj,kccj,kcdjcjm,...,jd,sfcx,jxbh,kcsxdm,xdfsdm,kslxdm,djcj,cxbkbz,cjlrfsdm,tdkch
count,1.048575e+06,1.048575e+06,1.048575e+06,1048575.0,0.0,0.0,1.048575e+06,987105.000000,1.048575e+06,0.0,...,1048575.0,0.0,0.0,1.048565e+06,1.048428e+06,52177.000000,987105.000000,0.0,1.048575e+06,6.906300e+04
mean,2.015363e+08,1.588700e+00,2.017078e+07,0.0,NaN,NaN,7.631593e+01,6.378796,7.631593e+01,NaN,...,0.0,NaN,NaN,1.090920e+00,1.234840e+00,1.658949,-74.953998,NaN,1.026376e+00,1.120715e+09
std,1.859474e+06,6.365320e-01,1.967066e+05,0.0,NaN,NaN,2.491665e+01,5.261807,2.491665e+01,NaN,...,0.0,NaN,NaN,8.182359e-01,1.122434e+00,0.606492,10.610856,NaN,1.602502e-01,3.593291e+07
min,2.150525e+07,1.000000e+00,1.807010e+05,0.0,NaN,NaN,0.000000e+00,1.000000,0.000000e+00,NaN,...,0.0,NaN,NaN,0.000000e+00,1.000000e+00,1.000000,-90.000000,NaN,1.000000e+00,1.820020e+06
25%,2.014580e+08,1.000000e+00,2.016063e+07,0.0,NaN,NaN,7.000000e+01,2.000000,7.000000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,1.000000,-80.000000,NaN,1.000000e+00,1.100020e+09
50%,2.015370e+08,2.000000e+00,2.017062e+07,0.0,NaN,NaN,8.100000e+01,2.000000,8.100000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,2.000000,-80.000000,NaN,1.000000e+00,1.130020e+09
75%,2.016341e+08,2.000000e+00,2.018031e+07,0.0,NaN,NaN,8.800000e+01,12.000000,8.800000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,2.000000,-70.000000,NaN,1.000000e+00,1.130020e+09
max,2.996192e+08,3.000000e+00,2.014250e+08,0.0,NaN,NaN,8.600000e+02,13.000000,8.600000e+02,NaN,...,0.0,NaN,NaN,4.000000e+00,9.000000e+00,3.000000,-59.000000,NaN,2.000000e+00,1.306030e+09

In [3]:
df_score2 = pd.read_csv('bks_cjxx_out2.csv',encoding = 'utf-8',header=None,names=['xh','xn','xqm','ksrq','kch','pscj','ksxzm','ksxsm','fslkscj','djlkscj','kccj','kcdjcjm','rkjsgh','cjbh','xf','jd','sfcx','jxbh','kcsxdm','xdfsdm','kxh','cjfw','kslxdm','djcj','cxbkbz','cjlrfsdm','tdkch'])

In [4]:
df_score = df_score1.append(df_score2)
df_score.describe()

,xh,xqm,ksrq,pscj,ksxzm,ksxsm,fslkscj,djlkscj,kccj,kcdjcjm,...,jd,sfcx,jxbh,kcsxdm,xdfsdm,kslxdm,djcj,cxbkbz,cjlrfsdm,tdkch
count,1.843610e+06,1.843610e+06,1.843610e+06,1843610.0,0.0,0.0,1.843610e+06,1.706481e+06,1.843610e+06,0.0,...,1843610.0,0.0,0.0,1.843578e+06,1.843393e+06,111275.000000,1.706481e+06,0.0,1.843610e+06,1.090200e+05
mean,2.015340e+08,1.529649e+00,2.017194e+07,0.0,NaN,NaN,8.273941e+01,6.389434e+00,8.273941e+01,NaN,...,0.0,NaN,NaN,1.117786e+00,1.296093e+00,2.027499,-7.490212e+01,NaN,1.022100e+00,1.120717e+09
std,2.424214e+06,6.215617e-01,1.653643e+05,0.0,NaN,NaN,5.659489e+01,5.261855e+00,5.659489e+01,NaN,...,0.0,NaN,NaN,8.210477e-01,1.285147e+00,0.838902,1.060499e+01,NaN,1.470092e-01,3.647871e+07
min,2.150178e+07,1.000000e+00,1.807010e+05,0.0,NaN,NaN,0.000000e+00,1.000000e+00,0.000000e+00,NaN,...,0.0,NaN,NaN,0.000000e+00,1.000000e+00,1.000000,-9.000000e+01,NaN,1.000000e+00,1.820020e+06
25%,2.014641e+08,1.000000e+00,2.016063e+07,0.0,NaN,NaN,7.000000e+01,2.000000e+00,7.000000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,1.000000,-8.000000e+01,NaN,1.000000e+00,1.100020e+09
50%,2.015460e+08,1.000000e+00,2.017062e+07,0.0,NaN,NaN,8.100000e+01,2.000000e+00,8.100000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,2.000000,-8.000000e+01,NaN,1.000000e+00,1.130020e+09
75%,2.016481e+08,2.000000e+00,2.018070e+07,0.0,NaN,NaN,8.800000e+01,1.200000e+01,8.800000e+01,NaN,...,0.0,NaN,NaN,1.000000e+00,1.000000e+00,3.000000,-7.000000e+01,NaN,1.000000e+00,1.130020e+09
max,2.996192e+08,3.000000e+00,2.014250e+08,0.0,NaN,NaN,8.600000e+02,1.300000e+01,8.600000e+02,NaN,...,0.0,NaN,NaN,4.000000e+00,9.000000e+00,3.000000,-5.900000e+01,NaN,2.000000e+00,1.306030e+09

In [5]:
df_score.isnull().sum()

xh                0
xn                0
xqm               0
ksrq              0
kch               0
pscj              0
ksxzm       1843610
ksxsm       1843610
fslkscj           0
djlkscj      137129
kccj              0
kcdjcjm     1843610
rkjsgh      1843610
cjbh              0
xf                0
jd                0
sfcx        1843610
jxbh        1843610
kcsxdm           32
xdfsdm          217
kxh             214
cjfw              0
kslxdm      1732335
djcj         137129
cxbkbz      1843610
cjlrfsdm          0
tdkch       1734590
dtype: int64

In [8]:
df_score['xf'].value_counts()

2.0     680288
3.0     291632
1.0     283261
1.5     103476
0.5      99031
4.0      92113
2.5      78977
3.5      70681
0.0      55277
5.0      32169
6.0      24078
4.5      15029
6.5       9681
15.0      5066
7.5        983
8.0        581
10.0       455
5.5        238
12.0       181
16.0       174
9.0        144
14.0        95
Name: xf, dtype: int64

## **过滤全缺失的属性**

In [6]:
df_score.dropna(axis=1,how='all',inplace=True)

**根据缺失值比例过滤缺失比较严重的属性**

In [7]:
df_score.isnull().sum()/len(df_score)*100

xh           0.000000
xn           0.000000
xqm          0.000000
ksrq         0.000000
kch          0.000000
pscj         0.000000
fslkscj      0.000000
djlkscj      7.438070
kccj         0.000000
cjbh         0.000000
xf           0.000000
jd           0.000000
kcsxdm       0.001736
xdfsdm       0.011770
kxh          0.011608
cjfw         0.000000
kslxdm      93.964287
djcj         7.438070
cjlrfsdm     0.000000
tdkch       94.086602
dtype: float64

In [8]:
df_score.shape[1]

20

In [9]:
score = df_score.copy()

In [10]:
score.drop(columns=['kslxdm','tdkch'],inplace=True)

In [11]:
score.isnull().sum()

xh               0
xn               0
xqm              0
ksrq             0
kch              0
pscj             0
fslkscj          0
djlkscj     137129
kccj             0
cjbh             0
xf               0
jd               0
kcsxdm          32
xdfsdm         217
kxh            214
cjfw             0
djcj        137129
cjlrfsdm         0
dtype: int64

## **低方差滤波器，去除数据不缺失方差为0的属性**

In [12]:
score.var()

xh          5.876812e+12
xqm         3.863389e-01
ksrq        2.734536e+10
pscj        0.000000e+00
fslkscj     3.202981e+03
djlkscj     2.768712e+01
kccj        3.202981e+03
xf          1.891545e+00
jd          0.000000e+00
kcsxdm      6.741194e-01
xdfsdm      1.651603e+00
djcj        1.124658e+02
cjlrfsdm    2.161172e-02
dtype: float64

In [13]:
score.drop(columns=['pscj','jd'],inplace=True)

## **高相关性滤波器**

In [14]:
score.corr()

,xh,xqm,ksrq,fslkscj,djlkscj,kccj,xf,kcsxdm,xdfsdm,djcj,cjlrfsdm
xh,1.000000,0.001164,0.001685,0.004379,-0.004786,0.004379,-0.007700,-0.029738,-0.002772,-0.007461,-0.002541
xqm,0.001164,1.000000,-0.014919,-0.010471,-0.056039,-0.010471,-0.008904,0.035620,0.008141,-0.058710,0.020687
ksrq,0.001685,-0.014919,1.000000,-0.011802,-0.001325,-0.011802,0.001733,-0.004665,0.000719,-0.000745,0.005656
fslkscj,0.004379,-0.010471,-0.011802,1.000000,-0.662352,1.000000,-0.262680,0.301571,-0.182895,-0.812140,-0.060532
djlkscj,-0.004786,-0.056039,-0.001325,-0.662352,1.000000,-0.662352,0.106933,-0.038516,0.184877,0.865735,0.134929
kccj,0.004379,-0.010471,-0.011802,1.000000,-0.662352,1.000000,-0.262680,0.301571,-0.182895,-0.812140,-0.060532
xf,-0.007700,-0.008904,0.001733,-0.262680,0.106933,-0.262680,1.000000,-0.091361,0.151070,0.115268,-0.140619
kcsxdm,-0.029738,0.035620,-0.004665,0.301571,-0.038516,0.301571,-0.091361,1.000000,-0.022362,-0.035789,-0.006201
xdfsdm,-0.002772,0.008141,0.000719,-0.182895,0.184877,-0.182895,0.151070,-0.022362,1.000000,0.247411,-0.034385
djcj,-0.007461,-0.058710,-0.000745,-0.812140,0.865735,-0.812140,0.115268,-0.035789,0.247411,1.000000,0.216495
cjlrfsdm,-0.002541,0.020687,0.005656,-0.060532,0.134929,-0.060532,-0.140619,-0.006201,-0.034385,0.216495,1.000000

**等级类考试成绩与等级成绩相关性超过0.86，课程成绩与分数类考试成绩相关性为1 两个均舍弃其中一个**

In [15]:
score['djcj'].value_counts()

-80.0    617176
-70.0    365765
-90.0    319211
-60.0    257009
-59.0    147320
Name: djcj, dtype: int64

In [16]:
score.drop(columns=['djcj','fslkscj'],inplace=True)

In [17]:
score.shape[1]

14

In [18]:
score.head(2)

,xh,xn,xqm,ksrq,kch,djlkscj,kccj,cjbh,xf,kcsxdm,xdfsdm,kxh,cjfw,cjlrfsdm
0,201434063,2017-2018,1,20180114,1110020010,11.0,65.0,1110020010201446033201801142017-20181500ln,3.5,1.0,4.0,500,ln,1
1,201505099,2017-2018,1,20180114,1110020010,12.0,52.0,1110020010201559009201801142017-20181500ln,3.5,1.0,4.0,500,ln,1

In [19]:
score.columns=['学号','学年','学期码','考试日期','课程号','等级成绩','课程成绩','成绩编号','学分','课程属性代码','修读方式代码','课序号','成绩范围','成绩录入方式代码']

In [20]:
score.isnull().sum()

学号               0
学年               0
学期码              0
考试日期             0
课程号              0
等级成绩        137129
课程成绩             0
成绩编号             0
学分               0
课程属性代码          32
修读方式代码         217
课序号            214
成绩范围             0
成绩录入方式代码         0
dtype: int64

11 通过
12 未通过
01 优秀
02 良好
13 中等

In [21]:
score.head(5)

,学号,学年,学期码,考试日期,课程号,等级成绩,课程成绩,成绩编号,学分,课程属性代码,修读方式代码,课序号,成绩范围,成绩录入方式代码
0,201434063,2017-2018,1,20180114,1110020010,11.0,65.0,1110020010201446033201801142017-20181500ln,3.5,1.0,4.0,500,ln,1
1,201505099,2017-2018,1,20180114,1110020010,12.0,52.0,1110020010201559009201801142017-20181500ln,3.5,1.0,4.0,500,ln,1
2,201625067,2016-2017,2,20170625,1020820011,12.0,54.0,1020820011201656027201706252016-20172500ln,2.0,3.0,4.0,500,ln,1
3,201629056,2017-2018,2,20180701,1120020032,13.0,76.0,1120020032201695026201807012017-20182500ln,5.0,1.0,6.0,500,ln,1
4,201518039,2017-2018,2,20180701,1110020020,13.0,78.0,1110020020201583019201807012017-20182500ln,3.0,1.0,4.0,500,ln,1

In [22]:
score['学期码'].value_counts()

1    993632
2    723490
3    126488
Name: 学期码, dtype: int64

In [23]:
score.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1843610 entries, 0 to 795034
Data columns (total 14 columns):
学号          int64
学年          object
学期码         int64
考试日期        int64
课程号         object
等级成绩        float64
课程成绩        float64
成绩编号        object
学分          float64
课程属性代码      float64
修读方式代码      float64
课序号         object
成绩范围        object
成绩录入方式代码    int64
dtypes: float64(5), int64(4), object(5)
memory usage: 211.0+ MB

In [24]:
score['成绩范围'].value_counts()

ln    1838370
lr       5240
Name: 成绩范围, dtype: int64

In [25]:
score[score['成绩范围']== 'ln']['等级成绩'].value_counts() #历年成绩库和当前录入成绩库，有什么区别？

2.0     615278
13.0    364758
1.0     317731
11.0    256425
12.0    147058
Name: 等级成绩, dtype: int64

In [26]:
## 先考虑成绩范围：历年成绩库和当前录入成绩库没有影响
score.drop(columns=['成绩范围'],inplace=True)

In [27]:
score[score['等级成绩'].isnull()]['成绩录入方式代码'].value_counts()

1    137121
2         8
Name: 成绩录入方式代码, dtype: int64

In [28]:
## 成绩录入方式代码为1表示录入百分成绩，2表示录入等级成绩
## 如果录入百分成绩等级成绩可以为空，添加一个新的表示00，表示无等级成绩
## 录入等级成绩，等级成绩却为NaN，应该是缺失了，删掉这8条数据
## 先删除那8条数据
djcj_null = score[score['等级成绩'].isnull()]
djcj_nan = djcj_null[djcj_null['成绩录入方式代码'] == 2]
score.drop(axis=0,labels=djcj_nan.index,inplace=True)

In [29]:
import math
score['等级成绩'] = score['等级成绩'].apply(lambda x:0 if math.isnan(x) else x)

In [30]:
score['等级成绩'].isnull().sum()

0

In [31]:
score.isnull().sum()

学号            0
学年            0
学期码           0
考试日期          0
课程号           0
等级成绩          0
课程成绩          0
成绩编号          0
学分            0
课程属性代码       32
修读方式代码      217
课序号         214
成绩录入方式代码      0
dtype: int64

In [32]:
score['课程属性代码'].value_counts()

1.0    1357590
0.0     258204
3.0     207959
4.0      19813
Name: 课程属性代码, dtype: int64

**课序号并不是数字类型的数据，有重，重辅，篮球，网等表示**

**用相同课程号的课程属性代码填补缺失的课程属性代码**

In [33]:
kcsx_null = score[score['课程属性代码'].isnull()]

In [34]:
for i in kcsx_null.index:
    temp = score[score['课程号'] == kcsx_null.loc[i,'课程号']]['课程属性代码'].median()
    score.loc[i,'课程属性代码'] = temp

In [35]:
score['课程属性代码'].isnull().sum()

0

In [36]:
score.isnull().sum()

学号            0
学年            0
学期码           0
考试日期          0
课程号           0
等级成绩          0
课程成绩          0
成绩编号          0
学分            0
课程属性代码        0
修读方式代码      217
课序号         214
成绩录入方式代码      0
dtype: int64

**相同课程在不同学期的课程号是否一样，课序号是否一样？？？**

**修读方式填补需要检测该学生是否修过该课程，如果没修过是正常，如果修过成绩为不及格应该是重修，如果修过的成绩及格应该是辅修，补考是？？？**

In [37]:
xdfs_null = score[score['修读方式代码'].isnull()]

不如删掉，这也太麻烦了吧

In [38]:
score.drop(labels=xdfs_null.index,inplace=True)

In [39]:
score.isnull().sum()

学号            0
学年            0
学期码           0
考试日期          0
课程号           0
等级成绩          0
课程成绩          0
成绩编号          0
学分            0
课程属性代码        0
修读方式代码        0
课序号         194
成绩录入方式代码      0
dtype: int64

课序号需要用相同课程号的课序号来填补，但是课序号的数据类型为object,如何从一个dataframe中取出某列单个元素的值呢，还不能用到索引？

In [45]:
kxh_null = score[score['课序号'].isnull()]
for i in kxh_null.index:
    temp = score[score['课程号'] == kxh_null.loc[i,'课程号']]
    temp = temp[['课序号']]
    temp.dropna(how='any',inplace=True)
    temp = temp.reset_index(drop=True)
    if temp.empty == False :
        score.loc[i,'课序号'] = temp.at[0,'课序号']

In [46]:
score.isnull().sum()

学号           0
学年           0
学期码          0
考试日期         0
课程号          0
等级成绩         0
课程成绩         0
成绩编号         0
学分           0
课程属性代码       0
修读方式代码       0
课序号         18
成绩录入方式代码     0
dtype: int64

**用-1来表示课序号缺失**

In [51]:
score.fillna(-1,inplace=True)

In [52]:
score.isnull().sum()

学号          0
学年          0
学期码         0
考试日期        0
课程号         0
等级成绩        0
课程成绩        0
成绩编号        0
学分          0
课程属性代码      0
修读方式代码      0
课序号         0
成绩录入方式代码    0
dtype: int64

In [53]:
score.to_csv('score.csv',index=False,encoding='utf-8')